{
  "openapi": "3.1.0",
  "info": {
    "title": "Avise API",
    "version": "1.0.0",
    "description": "Connect n8n, Zapier, Make or your own scripts to Avise. Create an API key in **Settings → API Keys** (full access or read-only) and send it as a Bearer token. Full guide: https://app.avise.io/api-reference. 315 endpoints below, generated from the live route code."
  },
  "servers": [
    {
      "url": "https://app.avise.io",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Deals",
      "description": "Endpoints for deals."
    },
    {
      "name": "Contacts",
      "description": "Endpoints for contacts."
    },
    {
      "name": "Companies",
      "description": "Endpoints for companies."
    },
    {
      "name": "Tasks",
      "description": "Endpoints for tasks."
    },
    {
      "name": "Activities and notes",
      "description": "Endpoints for activities and notes."
    },
    {
      "name": "Documents, folders and data rooms",
      "description": "Endpoints for documents, folders and data rooms."
    },
    {
      "name": "Ingest (AI: create deals from files, text, URLs, email)",
      "description": "Uses AI. 30 calls a minute."
    },
    {
      "name": "Investment memos (AI)",
      "description": "Uses AI."
    },
    {
      "name": "Legal documents and NDA review",
      "description": "Some routes use AI."
    },
    {
      "name": "AI assistant and chat",
      "description": "Uses AI. 10 calls a minute on /api/ai."
    },
    {
      "name": "Notifications",
      "description": "Endpoints for notifications."
    },
    {
      "name": "Users and team",
      "description": "Endpoints for users and team."
    },
    {
      "name": "Organization and firm profile",
      "description": "Endpoints for organization and firm profile."
    },
    {
      "name": "Templates",
      "description": "Endpoints for templates."
    },
    {
      "name": "Watchlist",
      "description": "Endpoints for watchlist."
    },
    {
      "name": "Relationship graphs",
      "description": "Endpoints for relationship graphs."
    },
    {
      "name": "Integrations (Gmail, Calendar, Granola, HubSpot…)",
      "description": "Endpoints for integrations (gmail, calendar, granola, hubspot…)."
    },
    {
      "name": "Audit log and export",
      "description": "Endpoints for audit log and export."
    },
    {
      "name": "Usage",
      "description": "Endpoints for usage."
    },
    {
      "name": "Account security and sessions",
      "description": "Endpoints for account security and sessions."
    },
    {
      "name": "Webhooks (outbound events)",
      "description": "Organization admins. API keys allowed, so tools can register their own trigger URLs."
    },
    {
      "name": "API key management",
      "description": "Signed-in admins only. Every call made with an API key returns 403."
    },
    {
      "name": "Admin security",
      "description": "Org admins only."
    },
    {
      "name": "Outreach",
      "description": "Only enabled for one organization; others get 403."
    },
    {
      "name": "Avise staff only",
      "description": "Avise internal staff only; customers get 403."
    }
  ],
  "paths": {
    "/api/deals": {
      "get": {
        "summary": "List deals",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals",
        "description": "Plain array, newest activity first. Supports `updatedSince` for polling, and `offset`+`limit` for paging (paging only applies once `offset` is sent).",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create a deal",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "Project Falcon",
                "companyName": "Falcon Logistics",
                "industry": "Logistics",
                "revenue": 42.5,
                "ebitda": 6.1,
                "dealSize": 120,
                "priority": "HIGH",
                "source": "n8n",
                "tags": [
                  "inbound"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/access-timeline": {
      "get": {
        "summary": "Get access timeline",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_access_timeline",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/activities": {
      "get": {
        "summary": "Get a deal’s activity feed",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_activities",
        "description": "Newest first: `{ data, total, limit, offset }`.",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Add a note or log activity",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_activities",
        "description": "Use `NOTE_ADDED` for a note. Emails in `mentionedEmails` notify those teammates.",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "type": "NOTE_ADDED",
                "title": "Banker call",
                "description": "Seller wants to close by Q1."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/ai-cache": {
      "get": {
        "summary": "Get ai cache",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_ai_cache",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete ai cache",
        "tags": [
          "Deals"
        ],
        "operationId": "delete_api_deals_dealId_ai_cache",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/analyze-risks": {
      "post": {
        "summary": "Create or run analyze risks",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_analyze_risks",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/chat": {
      "post": {
        "summary": "Create or run chat",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_chat",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/chat/history": {
      "get": {
        "summary": "Get history",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_chat_history",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete history",
        "tags": [
          "Deals"
        ],
        "operationId": "delete_api_deals_dealId_chat_history",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/doc-requests": {
      "get": {
        "summary": "Get doc requests",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_doc_requests",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create or run doc requests",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_doc_requests",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/doc-requests/{id}": {
      "patch": {
        "summary": "Update doc requests",
        "tags": [
          "Deals"
        ],
        "operationId": "patch_api_deals_dealId_doc_requests_id",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete doc requests",
        "tags": [
          "Deals"
        ],
        "operationId": "delete_api_deals_dealId_doc_requests_id",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/doc-requests/{id}/remind": {
      "post": {
        "summary": "Create or run remind",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_doc_requests_id_remind",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/doc-requests/templates": {
      "get": {
        "summary": "Get templates",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_doc_requests_templates",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/document-requests": {
      "post": {
        "summary": "Create or run document requests",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_document_requests",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/documents": {
      "get": {
        "summary": "List a deal’s documents",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_documents",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Upload a document",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_documents",
        "description": "Multipart form data, file in a field named `file` (PDF, Excel, CSV, Word, .msg, .eml, JPG, PNG). Up to 4.5 MB this way — use the signed upload for larger files. Avise reads the file with AI after responding.",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/documents/from-drive": {
      "post": {
        "summary": "Create or run from drive",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_documents_from_drive",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials": {
      "get": {
        "summary": "Get financials",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_financials",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/{statementId}": {
      "patch": {
        "summary": "Update financials",
        "tags": [
          "Deals"
        ],
        "operationId": "patch_api_deals_dealId_financials_statementId",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statementId",
            "in": "path",
            "required": true,
            "description": "The financial statement’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/analysis": {
      "get": {
        "summary": "Get analysis",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_financials_analysis",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/benchmark": {
      "get": {
        "summary": "Get benchmark",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_financials_benchmark",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/by-document/{documentId}": {
      "delete": {
        "summary": "Delete by document",
        "tags": [
          "Deals"
        ],
        "operationId": "delete_api_deals_dealId_financials_by_document_documentId",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "The document’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/conflicts": {
      "get": {
        "summary": "Get conflicts",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_financials_conflicts",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/cross-doc": {
      "get": {
        "summary": "Get cross doc",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_financials_cross_doc",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/extract": {
      "post": {
        "summary": "Create or run extract",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_financials_extract",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/insights": {
      "get": {
        "summary": "Get insights",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_financials_insights",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/insights/regenerate": {
      "post": {
        "summary": "Create or run regenerate",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_financials_insights_regenerate",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/memo": {
      "get": {
        "summary": "Get memo",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_financials_memo",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/resolve": {
      "post": {
        "summary": "Create or run resolve",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_financials_resolve",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/resolve-all": {
      "post": {
        "summary": "Create or run resolve all",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_financials_resolve_all",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/summary": {
      "get": {
        "summary": "Get summary",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_financials_summary",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/timeseries": {
      "get": {
        "summary": "Get timeseries",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_financials_timeseries",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/financials/validation": {
      "get": {
        "summary": "Get validation",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_financials_validation",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/folders": {
      "get": {
        "summary": "Get folders",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_folders",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create or run folders",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_folders",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/folders/init": {
      "post": {
        "summary": "Create or run init",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_folders_init",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/generate-thesis": {
      "post": {
        "summary": "Create or run generate thesis",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_generate_thesis",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/graphs": {
      "get": {
        "summary": "Get graphs",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_graphs",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create or run graphs",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_graphs",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/legal-documents": {
      "get": {
        "summary": "Get legal documents",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_legal_documents",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create or run legal documents",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_legal_documents",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/legal-documents/import-gdoc": {
      "post": {
        "summary": "Create or run import gdoc",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_legal_documents_import_gdoc",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/legal-documents/upload": {
      "post": {
        "summary": "Create or run upload",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_legal_documents_upload",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/model": {
      "get": {
        "summary": "Get model",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_model",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "summary": "Replace model",
        "tags": [
          "Deals"
        ],
        "operationId": "put_api_deals_dealId_model",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/model/cases": {
      "get": {
        "summary": "Get cases",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_model_cases",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/model/export": {
      "post": {
        "summary": "Create or run export",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_model_export",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/nda-reviews": {
      "get": {
        "summary": "Get nda reviews",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_nda_reviews",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create or run nda reviews",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_nda_reviews",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/reactivations/{id}": {
      "patch": {
        "summary": "Update reactivations",
        "tags": [
          "Deals"
        ],
        "operationId": "patch_api_deals_dealId_reactivations_id",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/rescore": {
      "post": {
        "summary": "Create or run rescore",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_rescore",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/scorecard": {
      "post": {
        "summary": "Create or run scorecard",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_scorecard",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/shares": {
      "get": {
        "summary": "Get shares",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_dealId_shares",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create or run shares",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_dealId_shares",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/shares/{shareId}": {
      "delete": {
        "summary": "Delete shares",
        "tags": [
          "Deals"
        ],
        "operationId": "delete_api_deals_dealId_shares_shareId",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shareId",
            "in": "path",
            "required": true,
            "description": "The share link’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{dealId}/team/{memberId}": {
      "patch": {
        "summary": "Update team",
        "tags": [
          "Deals"
        ],
        "operationId": "patch_api_deals_dealId_team_memberId",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "The team member’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Delete team",
        "tags": [
          "Deals"
        ],
        "operationId": "delete_api_deals_dealId_team_memberId",
        "parameters": [
          {
            "name": "dealId",
            "in": "path",
            "required": true,
            "description": "The deal’s id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "The team member’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{id}": {
      "get": {
        "summary": "Get a deal",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_id",
        "description": "Includes company, team, documents, activities and folders.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "summary": "Update a deal",
        "tags": [
          "Deals"
        ],
        "operationId": "patch_api_deals_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "stage": "DUE_DILIGENCE",
                "stageNote": "Management call went well"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Move a deal to trash",
        "tags": [
          "Deals"
        ],
        "operationId": "delete_api_deals_id",
        "description": "Soft delete (204). Restore with `POST /api/deals/:id/restore`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{id}/analyze": {
      "post": {
        "summary": "Create or run analyze",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_id_analyze",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{id}/extraction-debug": {
      "get": {
        "summary": "Get extraction debug",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_id_extraction_debug",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{id}/follow-up-questions": {
      "post": {
        "summary": "Create or run follow up questions",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_id_follow_up_questions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{id}/reconcile": {
      "get": {
        "summary": "Get reconcile",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_id_reconcile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{id}/restore": {
      "post": {
        "summary": "Create or run restore",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_id_restore",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{id}/team": {
      "get": {
        "summary": "Get team",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_id_team",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create or run team",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_id_team",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/{id}/teasers": {
      "get": {
        "summary": "Get teasers",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_id_teasers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Create or run teasers",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_id_teasers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record’s id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/financial-summaries": {
      "get": {
        "summary": "List financial summaries",
        "tags": [
          "Deals"
        ],
        "operationId": "get_api_deals_financial_summaries",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/import": {
      "post": {
        "summary": "Create or run import",
        "tags": [
          "Deals"
        ],
        "operationId": "post_api_deals_import",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/deals/import/analyze": {
      "post": {
[...]
